* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.main {
	width: 90%;
	margin: 0 auto;
}

.Search {
	width: 100%;
	display: flex;

	&__input {
		padding: 10px 20px;
		width: calc(100% - 400px);

		outline: none;

		border: 1px solid #ccc;
	}
	&__dropdown,
	&__sort, {
		padding: 10px;
		width: 200px;

		outline: none;

		background: none;
		border: 1px solid #ccc;

		ul {
			display: flex;
			justify-content: space-around;

			list-style: none;

			li {
				cursor: pointer;

				color: #00f;

				&:hover{
					color: #f00;
				}
			}
		}
	}
}

.Post {
	padding: 10px 40px;

	img {
		width: 100%;
	}
	h3 {
		text-transform: uppercase;
	}

	.post__info {
		display: flex;
		align-items: center;

		span {
			margin-right: 20px;

			&.post__date {
				font-size: 12px;
			}
		}
	}
}

.post_page {
	padding-top: 10px;
	img {
		width: 100%;
	}
	h2 {
		padding-bottom: 10px;
	}
	&__info {
		padding-bottom: 10px;

		border-bottom: 1px solid #ddd;
		span {
			margin-right: 10px;
		}
	}

	.date {
		font-size: 12px;
	}

	p {
		padding-top: 20px;
	}

}